<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284005315086-1kcttk35bugn3tuoisj56is7r1tj48bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284005315086-1kcttk35bugn3tuoisj56is7r1tj48bo</string>
	<key>API_KEY</key>
	<string>AIzaSyCwRYPlDQ6FBMb_7YPH9pfdLJtfGe9C9Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>284005315086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shah.Grade-Calculator</string>
	<key>PROJECT_ID</key>
	<string>grade-calculator-b377c</string>
	<key>STORAGE_BUCKET</key>
	<string>grade-calculator-b377c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284005315086:ios:a0b20d135d3c7181</string>
	<key>DATABASE_URL</key>
	<string>https://grade-calculator-b377c.firebaseio.com</string>
</dict>
</plist>